<% @about_pages.each do |about_page|%>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4"><%= about_page.header%></h1>
    <p class="lead"><%= about_page.content%></p>
  </div>
</div>
<%end%>